body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul li {
  list-style-type: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

p {
  color: #434455;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.address-link {
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}

.header-nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  line-height: 1.5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team {
  background: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.footer {
  background: #2e2f42;
}

footer .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

.team-title,
.portfolio-title {
  text-transform: capitalize;
}
